@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;800&display=swap');

:root {
    /* Nova Paleta de Cores da Marca */
    --azul-profundo: #324873;
    --verde-floresta: #00663C;
    --laranja-terroso: #D9765B;
    --rosa-claro: #ED8DAF;
    --azul-claro: #C9DFF2;
    --verde-claro: #BDF2C5;
    --cinza-claro: #E1E2E3;
    --grafite: #2D2D2D;
    --branco: #FFFFFF;

    /* Cor de Alerta Dedicada */
    --vermelho-alerta: #D9765B; /* Reutilizando o laranja terroso para consistência */

    /* Fonte da Marca */
    --font-poppins: 'Poppins', sans-serif;
}

/* Animação e Resets (sem alterações) */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--branco);
    color: var(--grafite);
    font-family: var(--font-poppins);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a {
    color: inherit;
    text-decoration: none;
}