.product-card {
    background-color: var(--branco);
    border: 1px solid var(--cinza-claro);
    border-radius: 12px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    height: 100%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.product-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 10px 25px rgba(45, 45, 45, 0.1);
}

.image-placeholder {
    width: 100%;
    height: 250px;
    background-color: var(--cinza-claro);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--grafite);
    opacity: 0.5;
}

.content {
    padding: 20px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.brand {
    font-family: var(--font-poppins);
    color: var(--grafite);
    opacity: 0.6;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 500;
    margin-bottom: 5px;
}

.name {
    font-family: var(--font-poppins);
    font-weight: 700;
    color: var(--azul-profundo);
    font-size: 1.4rem;
    margin-bottom: 10px;
    flex-grow: 1;
    line-height: 1.3;
}

.price {
    font-family: var(--font-poppins);
    font-size: 1.5rem;
    font-weight: 800;
    color: var(--grafite);
    margin-bottom: 20px;
}

/* A CORREÇÃO ESTÁ AQUI */
.buy-button {
    background-color: var(--laranja-terroso);
    color: var(--branco);
    border: none;
    border-radius: 8px;
    padding: 14px 20px;
    font-family: var(--font-poppins);
    font-weight: 700;
    cursor: pointer;
    width: 100%;
    font-size: 1rem;
    transition: all 0.3s ease;
    text-transform: uppercase;
    /* Novas propriedades para alinhar o ícone e o texto */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px; /* Espaçamento entre o ícone e o texto */
}

.buy-button:hover {
    background-color: var(--verde-floresta);
    transform: translateY(-2px);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}